
	@font-face{

		font-family: headFont;
		src: url(fonts/Summer-Vibes-OTF.otf);
	}

	@font-face{

		font-family: myFont;
		src: url(fonts/OpenSans-Regular.ttf);
	}
	body{
		background:linear-gradient(to right, rgb(179, 81, 171), rgb(211, 60, 105));
	}
	#wrapper{

		max-width:900px;
		min-height: 500px;
		margin: auto;
		color: grey;
		font-family: myFont;
		font-size: 13px;
	}

	form{

		margin: auto;
		padding: 10px;
		width:100%;
		max-width: 400px;
	}

	input[type=text],input[type=password],input[type=submit]{

		padding:10px;
		margin: 10px;
		width:100%;
		border-radius: 5px;
		border:solid 1px #485b6c00;
	}

	input[type=submit]{

		width: 100%;
		cursor: pointer;
		background-color: #8e14544d;
		color: white;
	}

	input[type=radio]{

		transform: scale(1.2);
		cursor: pointer;
	}

	#header{

		background-color: #485b6c00;
	    font-size: 40px;
	    text-align: center;
	    font-family: headFont;
	    width: 100%;
	    color: white;
	}

	
	#error{

		text-align: center;
		padding: 0.5em;
		background-color: #e84b0678;
		color: white;
		display: none;
	}
